<section class="home-slider-banner">
    <div class="grid-x">
        <div class="cell">
            <div class="slider single-item slick-initialized slick-slider slick-dotted"
                 data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <div style="background: red"><h3>1</h3></div>
                <div style="background: blue"><h3>2</h3></div>
                <div style="background: yellow"><h3>3</h3></div>
                <div style="background: green"><h3>4</h3></div>
                <div style="background: purple"><h3>5</h3></div>
            </div>
        </div>
    </div>
</section>
