<section class="whats-new-home">
    <div class="grid-container">
        <div class="grid-x">
            <div class="large-8 medium-8 small-12">
                <h2>Key pieces for the home</h2>
            </div>
            <div class="large-4 medium-4 small-12">
                <div class="new-arrivals"><a href="#">New Arrivals</a></div>
                <div class="view-all"><a href="#">View All</a></div>
            </div>
        </div>
        <div class="grid-x">
            <div style="background: blue;" class="large-3 medium-4 small-12">
                <div class="home-collection-product">
                    <div class="product-img">
                        Image
                    </div>
                    <div class="product-info">
                        <h5><a href="#">T-shirt</a></h5>
                    </div>
                </div>
            </div>
            <div style="background: blue;" class="large-3 medium-4 small-12">
                <div class="home-collection-product">
                    <div class="product-img">
                        Image
                    </div>
                    <div class="product-info">
                        <h5><a href="#">T-shirt</a></h5>
                    </div>
                </div>
            </div>
            <div style="background: blue;" class="large-3 medium-4 small-12">
                <div class="home-collection-product">
                    <div class="product-img">
                        Image
                    </div>
                    <div class="product-info">
                        <h5><a href="#">T-shirt</a></h5>
                    </div>
                </div>
            </div>
            <div style="background: blue;" class="large-3 medium-4 small-12">
                <div class="home-collection-product">
                    <div class="product-img">
                        Image
                    </div>
                    <div class="product-info">
                        <h5><a href="#">T-shirt</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
